In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [8]:
# 1964 --> 1963/1964
url = "https://www.fussballdaten.de/bundesliga/1964/ewige-tabelle/"
site_1964 = requests.get(url)
import re
bs=BeautifulSoup(site_1964.content, "lxml")
table_body=bs.find('tbody')
rows = table_body.find_all('tr')
teams = []
points = []
for row in rows[:]:
    cols=row.find_all('td')
    cols=[x.text.strip(' ') for x in cols]
    # print(cols)
    test_string = cols[1]
    points.append(cols[-1])
    team_string = re.split(r'Bundesliga|2. Bundesliga|3. Liga|Regionalliga West', test_string)
    # print(team_string[0])
    teams.append(team_string[0])

lst_club_name = []
ls_city_name = []
for team in teams:
    # Find the index of the city name without the club name
    for i in range(len(team)-1, -1, -1):
        if team[i].isupper() and team[i+1:].lower() == team[i+1:]:
            city_index = i
            break
    else:
        # If no match is found, skip this team
        continue

    # Get the club name and format it
    club_name_tmp = team[:city_index].replace(".", ". ").strip()
    city_name_tmp = team[city_index:].strip()
    if club_name_tmp == "TSV 1860 MünchenTS":
        club_name_tmp = "TSV 1860 München"
        city_name_tmp = "TSV 1860"
    if club_name_tmp == "Hertha BSCHertha BS":
        club_name_tmp = "Hertha BSC"
        city_name_tmp = "Hertha BSC"
        
    lst_club_name.append(club_name_tmp)
    ls_city_name.append(city_name_tmp)

#     split_string2 = split_string1[0].split('Frankfurt')
# #
#     # print(test_string)
#     # print(split_string1)
#     print(type(split_string1[0]))
#     print(split_string2)

In [9]:
lst_club_name

['1.  FC Köln',
 'Eintracht Frankfurt',
 'MSV Duisburg',
 'Borussia Dortmund',
 'VfB Stuttgart',
 'Hamburger SV',
 'TSV 1860 München',
 'FC Schalke 04',
 '1.  FC Nürnberg',
 'Eintracht Braunschweig',
 'SV Werder Bremen',
 '1.  FC Kaiserslautern',
 'Hertha BSC',
 'Karlsruher SC',
 'Preußen Münster',
 '1.  FC Saarbrücken']

In [5]:
# 1965 --> 1964/1965
url = "https://www.fussballdaten.de/bundesliga/1965/ewige-tabelle/"
site_1965 = requests.get(url)
import re
bs=BeautifulSoup(site_1965.content, "lxml")
table_body_1965=bs.find('tbody')
rows_1965 = table_body_1965.find_all('tr')
teams_1965 = []
points_1965 = []
for row_1965 in rows_1965[:]:
    cols_1965=row_1965.find_all('td')
    cols_1965=[x.text.strip(' ') for x in cols_1965]
    # print(cols)
    test_string_1965 = cols_1965[1]
    points_1965.append(cols_1965[-1])
    team_string_1965 = re.split(r'Bundesliga|2. Bundesliga|3. Liga|Regionalliga West', test_string_1965)
    # print(team_string_1965[0])
    teams_1965.append(team_string_1965[0])

lst_club_name_1965 = []
ls_city_name_1965 = []
for team_1965 in teams_1965:
    # Find the index of the city name without the club name
    for i in range(len(team_1965)-1, -1, -1):
        if team_1965[i].isupper() and team_1965[i+1:].lower() == team_1965[i+1:]:
            city_index_1965 = i
            break
    else:
        # If no match is found, skip this team
        continue

    # Get the club name and format it
    club_name_tmp = team_1965[:city_index_1965].replace(".", ". ").strip()
    city_name_tmp = team_1965[city_index_1965:].strip()
    if club_name_tmp == "TSV 1860 MünchenTS":
        club_name_tmp = "TSV 1860 München"
        city_name_tmp = "TSV 1860"
    if club_name_tmp == "Hertha BSCHertha BS":
        club_name_tmp = "Hertha BSC"
        city_name_tmp = "Hertha BSC"
        
    lst_club_name_1965.append(club_name_tmp)
    ls_city_name_1965.append(city_name_tmp)

In [13]:
df_eternal_table = pd.DataFrame(columns=lst_club_name)
df_eternal_table.loc["1964", :] = list(points)

In [14]:
df_eternal_table

,1. FC Köln,Eintracht Frankfurt,MSV Duisburg,Borussia Dortmund,VfB Stuttgart,Hamburger SV,TSV 1860 München,FC Schalke 04,1. FC Nürnberg,Eintracht Braunschweig,SV Werder Bremen,1. FC Kaiserslautern,Hertha BSC,Karlsruher SC,Preußen Münster,1. FC Saarbrücken
1964,62,55,52,47,46,43,42,41,40,39,38,36,33,32,30,23

In [15]:
df_eternal_table_1965 = pd.DataFrame(columns=lst_club_name_1965)
df_eternal_table_1965.loc["1965", :] = list(points_1965)

In [16]:
df_eternal_table_1965

,1. FC Köln,Borussia Dortmund,MSV Duisburg,Eintracht Frankfurt,SV Werder Bremen,TSV 1860 München,1. FC Nürnberg,VfB Stuttgart,Hamburger SV,Eintracht Braunschweig,1. FC Kaiserslautern,FC Schalke 04,Karlsruher SC,Hertha BSC,Hannover 96,Borussia Neunkirchen,Preußen Münster,1. FC Saarbrücken
1965,114,98,96,95,94,91,83,81,81,77,72,70,65,65,46,36,30,23

In [17]:
df_all = df_eternal_table.append(df_eternal_table_1965)

/var/folders/z2/_gyyb63x4pv6zvl1bd53ryg00000gn/T/ipykernel_42786/287123511.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_all = df_eternal_table.append(df_eternal_table_1965)

In [18]:
df_all

,1. FC Köln,Eintracht Frankfurt,MSV Duisburg,Borussia Dortmund,VfB Stuttgart,Hamburger SV,TSV 1860 München,FC Schalke 04,1. FC Nürnberg,Eintracht Braunschweig,SV Werder Bremen,1. FC Kaiserslautern,Hertha BSC,Karlsruher SC,Preußen Münster,1. FC Saarbrücken,Hannover 96,Borussia Neunkirchen
1964,62,55,52,47,46,43,42,41,40,39,38,36,33,32,30,23,NaN,NaN
1965,114,95,96,98,81,81,91,70,83,77,94,72,65,65,30,23,46,36

In [ ]:
import pandas as pd

df1 = pd.DataFrame({"Köln": [62, 114], "Frankfurt": [55, 95], "Duisburg": [52, 96]})
df2 = pd.DataFrame({"Köln": [1, 3], "Dortmund": [50, 98], "Münster": [29, 30]})

In [ ]:
df2

In [ ]:
df3 = df1.append(df2)

In [ ]:
df3

In [ ]:

for team in teams:
    # Find the index of the city name without the club name
    for i in range(len(team)-1, -1, -1):
        if team[i].isupper() and team[i+1:].lower() == team[i+1:]:
            city_index = i
            break
    else:
        # If no match is found, skip this team
        continue

    # Get the club name and format it
    club_name = team[:city_index].replace(".", ". ").strip()
    city_name = team[city_index:].strip()
    if club_name == "TSV 1860 MünchenTS":
        club_name = "TSV 1860 München"
        city_name = "TSV 1860"
    if club_name == "Hertha BSCHertha BS":
        club_name = "Hertha BSC"
        city_name = "Hertha BSC"
    # if "TSV 1860" in club_name:
    #     print('clubb_name: ', club_name)
    # #     tsv_string = "TSV 1860 MünchenTSV 1860"
    # #     str_1 = tsv_string.split("München")[0]
    # #     # str_2 = tsv_string.split("München")#1]
    # #     club_name = "München".join(str_1)
    # #     # print('clubb_name: ', club_name)
    # # # Get the city name and format it
    

    print('club_name: ', club_name)
    print('city_name: ', city_name)
    # Get the club name and format it
    # Get the club name and format it
    # if "TSV 1860" in team[city_index-10:city_index+1]:
    #     club_name = team[:city_index-10].replace(".", ". ").strip() + " " + "TSV 1860"
    #     city_name = team[city_index:].strip()
    # elif "Hertha BSC" in team[city_index-9:city_index+1]:
    #     club_name = team[:city_index-9].replace(".", ". ").strip() + " " + "Hertha BSC"
    #     city_name = team[city_index:].strip()
    # else:
    #     club_name = team[:city_index].replace(".", ". ").strip()
    #     city_name = team[city_index:].strip()

    # club_name = team[:city_index].replace(".", ". ").strip()

    # # Get the city name and format it
    # city_name = team[city_index:].strip()

In [ ]:
tsv_string = "TSV 1860 MünchenTSV 1860"
str_1 = tsv_string.split("München")#[0]
str_2 = tsv_string.split("München")#1]
print(str_1)
print(str_2)

In [ ]:
teams = ["1.FC KölnKöln", "Werder BremenBremen", "Eintracht BraunschweigBraunschweig", "TSV 1860 MünchenTSV 1860", "Hertha BSCHertha BSC"]

for team in teams:
    # Find the index of the city name without the club name
    for i in range(len(team)-1, -1, -1):
        if team[i].isupper() and team[i+1:].lower() == team[i+1:]:
            city_index = i
            break
    else:
        # If no match is found, skip this team
        continue

    # Get the club name and format it
    if "München" in team[city_index-7:city_index+1]:
        club_name = team[:city_index-7].replace(".", ". ").strip() + " München"
        city_name = "TSV 1860"
    else:
        club_name = team[:city_index].replace(".", ". ").strip()
        city_name = team[city_index:].strip()

    print(club_name)
    print(city_name)

In [ ]:
cols[1].split("Bundesliga")

In [ ]:
s = "1.FC KölnKöln"
index = s.find("Köln")
if index != -1:
  team_name = s[index:]
  s = s[:index].strip()
else:
  team_name = ""
s = s.replace(".", ". ").strip()

print(s)  # "1. FC Köln"
print(team_name)  # "Köln"

In [ ]:
s = "1.FC KölnKöln"
team_name = ""

# Find the index of "Köln"
index = s.find("Köln")

# If "Köln" is found, split the string
if index != -1:
    team_name = s[index+len("Köln"):].strip()  # Get the team name
    s = s[:index]  # Get the club name
    s = s.replace(".", ". ").strip()  # Format the club name

print(s)  # "1. FC Köln"
print(team_name)  # "Köln"

In [ ]:
test_string = "1. FC KölnKölnBundesliga"

In [ ]:
import re

In [ ]:
splt_string = re.split(r'Bundesliga|2.Bundesliga|3. Liga', test_string)

In [ ]:
splt_string