In [1]:
import pandas as pd
import ipywidgets as widgets
layout = widgets.Layout(width='auto', height='40px')
start_dater = widgets.DatePicker(description='Pick a Start Date',disabled=False )
end_dater = widgets.DatePicker(description='Pick an End Date',disabled=False )
display(start_dater)
display(end_dater)

DatePicker(value=None, description='Pick a Start Date')

DatePicker(value=None, description='Pick an End Date')

In [2]:
time = pd.read_csv('/Volumes/WERDERNAS/PYTHON/jupyter_notebooks/ipywidgets/pop.csv')

In [3]:
time.head()

  realtime_start     value        date realtime_end
0     2019-12-06  156309.0  1952-01-01   2019-12-06
1     2019-12-06  156527.0  1952-02-01   2019-12-06
2     2019-12-06  156731.0  1952-03-01   2019-12-06
3     2019-12-06  156943.0  1952-04-01   2019-12-06
4     2019-12-06  157140.0  1952-05-01   2019-12-06

In [4]:
time['date'] = pd.to_datetime(time['date'])

In [5]:
time.drop(columns = ['realtime_start', 'realtime_end'], inplace = True)

In [6]:
time.tail()

          value       date
811  329591.333 2019-08-01
812  329785.872 2019-09-01
813  329982.035 2019-10-01
814  330154.949 2019-11-01
815  330309.946 2019-12-01

In [9]:
import ipywidgets as widgets
layout = widgets.Layout(width='auto', height='40px')
start_dater = widgets.DatePicker(description='Pick a Start Date',disabled=False )
end_dater = widgets.DatePicker(description='Pick an End Date',disabled=False )
display(start_dater)
display(end_dater)

DatePicker(value=None, description='Pick a Start Date')

DatePicker(value=None, description='Pick an End Date')

In [10]:
time[(time['date']>=pd.to_datetime(start_dater.value))&(time['date']<pd.to_datetime(end_dater.value))]

Empty DataFrame
Columns: [value, date]
Index: []

In [11]:
import matplotlib.pyplot as plt
from ipywidgets import interact, interact_manual
def plotter():
    temp = time[(time['date']>pd.to_datetime(start_dater.value))&(time['date']<pd.to_datetime(end_dater.value))]
    plt.figure(dpi = 100 , figsize  = (10,6))
    plt.plot(temp['date'] , temp['value'])
    plt.show()

display(start_dater)
display(end_dater)    
interact_manual(plotter)

DatePicker(value=datetime.date(2020, 12, 29), description='Pick a Start Date')

DatePicker(value=datetime.date(2021, 2, 3), description='Pick an End Date')

interactive(children=(Button(description='Run Interact', style=ButtonStyle()), Output()), _dom_classes=('widge…

In [12]:
df = pd.read_csv('/Volumes/WERDERNAS/PYTHON/jupyter_notebooks/ipywidgets/netflix_titles.csv')

In [13]:
def filter_data(TYPE = 'All',COUNTRY ='United States' , RELEASE = 2019):
    
    if TYPE=='All':
        t_df = df[(df['country']==COUNTRY)&(df['release_year']==RELEASE)]
        display(t_df)
        #
        if len(t_df)>1:
            plt.figure(figsize = (5,5) , dpi = 80)
            plt.pie(t_df['type'].value_counts().values , labels = t_df['type'].value_counts().index , explode= (0,0.2) , shadow = True , autopct='%1.1f%%')
            plt.show()
        else:
            pass
    
    else:
        display(df[(df['type']==TYPE)&(df['country']==COUNTRY)&(df['release_year']==RELEASE)])


type_selector =  widgets.Dropdown(
    options=list(df['type'].unique())+['All'],
    value='All',
    description='TYPE')

country_selector =  widgets.Dropdown(
    options= df['country'].unique(),
    value='United States',
    description='COUNTRY')

release_selector =  widgets.Dropdown(
    options= df['release_year'].unique(),
    value=2019,
    description='RELEASE YEAR')

interact(filter_data,TYPE = type_selector , COUNTRY = country_selector , RELEASE = release_selector)

interactive(children=(Dropdown(description='TYPE', index=2, options=('Movie', 'TV Show', 'All'), value='All'),…

In [ ]:
!pwd
df1 = pd.read_csv('ipywidgets/CAvideos.csv')

In [ ]:
df1 = df1[df1['channel_title'].isin(df1['channel_title'].value_counts().head(10).index)]

In [ ]:
def group_dist_plotter(col = 'channel_title', agg = 'views' ,agg_func = 'sum'):
    temp = df1.groupby(col).agg({agg:agg_func})
    fig,axs = plt.subplots(1,2,figsize = (20,10) , dpi = 80)
    
    axs[0].pie(temp.values , labels = temp.index , shadow = True , autopct='%1.1f%%')
    #axs[1].bar(x = range(len(temp.values)),height = temp.values)
    temp.plot(ax=axs[1], kind='bar')
    plt.show()
    
    return temp



col_selector =  widgets.Dropdown(
    options=['channel_title','category_id'],
    value='channel_title',
    description='COLUMN')

agg_selector =  widgets.Dropdown(
    options= ['views','likes','dislikes'],
    value='views',
    description='AGGREGATE COLUMN')

agg_func_selector =  widgets.Dropdown(
    options= ['sum','mean','median'],
    value='sum',
    description='AGGREGATION')

interact(group_dist_plotter,col = col_selector , agg = agg_selector , agg_func = agg_func_selector)

In [ ]:
from IPython.display import YouTubeVideo

In [ ]:
out = widgets.Output(layout={'border': '2px solid black'})
out.append_stdout('Watch the Video Here')
out.append_display_data(YouTubeVideo('DifMYH3iuFw'))
out

In [ ]:
@interact(x=True, y=1.0)
def g(x, y):
    return (x, y)

In [ ]:
interact(g, x=True, y=5.0)

In [ ]:
def h(p, q):
    return (p, q)
interact(h, p=5, q=fixed(20))

In [ ]:
def f(x1):
    return x1
x2 = widgets.IntSlider(min=-10, max=30, step=1, value=10)
interact(f, x1 = x2);

In [9]:
# import pandas as pd
import pandas as pd
import qgrid 
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)

In [14]:
qgrid_widget = qgrid.show_grid(df)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [19]:
df_reduced = qgrid_widget.get_changed_df()

In [20]:
df_reduced

    Name  Age
0    Tom   20
2  krish   19

In [18]:
df_reduced['Name'].item()

'Tom'