# Dashboarding in Python with Widgets

### Dependencies and Installations

In [201]:
# !pip install ipywidgets
# !jupyter nbextension enable --py widgetsnbextension
# conda install -c anaconda ipywidgets

# Set some cool Theme

#### [Check out Jupyter Themes ](https://github.com/dunovank/jupyter-themes)

In [2]:
# Installation :  pip install jupyterthemes
# # !jt  [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE] [-nf NBFONT]
#     [-nfs NBFONTSIZE] [-tf TCFONT] [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
#     [-m MARGINS] [-cursw CURSORWIDTH] [-cursc CURSORCOLOR] [-vim]
#     [-cellw CELLWIDTH] [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout]
#     [-P] [-T] [-N] [-r] [-dfonts]

In [9]:
!jt -f MONOFONT

usage: jt [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE] [-nf NBFONT]
          [-nfs NBFONTSIZE] [-tf TCFONT] [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
          [-ofs OUTFONTSIZE] [-mathfs MATHFONTSIZE] [-m MARGINS]
          [-cursw CURSORWIDTH] [-cursc CURSORCOLOR] [-cellw CELLWIDTH]
          [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout] [-P] [-T] [-N] [-kl]
          [-vim] [-r] [-dfonts]
jt: error: argument -nf/--nbfont: expected one argument

In [205]:
#!jt -t onedork

In [3]:
#!jt -t chesterish

In [25]:
!jt -f fira

In [ ]:
sdfdfsf

# Documentation

#### IPywdigets Doc : [ipywidgets](https://ipywidgets.readthedocs.io/en/latest/)

# Importing Necessary Libraries

In [16]:
import pandas as pd
import os
import ipywidgets
from ipywidgets import interact, IntSlider, interactive, widgets, interact_manual,HBox,fixed
from IPython.display import HTML
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows' , 1000)
pd.set_option('display.max_columns' , 1000)

layout = widgets.Layout(width='400px', height='30px')
pd.options.display.float_format = "{:.2f}".format
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
%matplotlib inline

# Helper Code Blocks

### Increase Cell Width to optimise space

In [29]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [14]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [208]:
df= pd.read_csv('City_Zhvi_AllHomes.csv')

# Staring with the Basics of ipywidgets

In [30]:
temp = widgets.IntSlider()

In [31]:
display(temp)

IntSlider(value=0)

In [32]:
temp.value

20

### Improve

In [33]:
selector = widgets.IntSlider(value=100,
    min=50,
    max=1000,
    step=50,
    description='Name : ',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)

In [34]:
display(selector)

IntSlider(value=100, continuous_update=False, description='Name : ', max=1000, min=50, step=50)

In [35]:
selector.value

500

### Build Something

In [36]:
First = widgets.IntSlider(start = 10 , end = 100, step = 5)
Second = widgets.IntSlider(start = 10 , end = 100, step = 5)

In [37]:
def adder(First , Second):
    print("The Sum of the Numbers is : {}".format(First+Second))
    
interact(adder, First = First  , Second = Second)

interactive(children=(IntSlider(value=0, description='First', step=5), IntSlider(value=0, description='Second'‚Ä¶

# Selcting Images Dynamically

In [38]:
import glob
images = glob.glob("imgs/im*")
images = [img.split('/')[1] for img in images]

In [39]:
images

[]

In [198]:
from IPython.display import Image

In [40]:
@interact
def display_image(files = images):
    path = '/Users/datagasmic/Documents/Webinar/imgs/'
    display(Image(path+files , width=800, height=800))

interactive(children=(Dropdown(description='files', options=(), value=None), Output()), _dom_classes=('widget-‚Ä¶

In [41]:
from IPython.display import HTML, display

display(HTML('''<style>
    .widget-label { min-width: 20ex !important; }
</style>'''))

In [1]:
layout = widgets.Layout(width='auto', height='40px')
start_dater = widgets.DatePicker(description='Pick a Start Date',disabled=False )
end_dater = widgets.DatePicker(description='Pick an End Date',disabled=False )
display(start_dater)
display(end_dater)

NameError: name 'widgets' is not defined

# Time Series Data : [Kaggle Population Data](https://www.kaggle.com/census/population-time-series-data)

In [4]:
import pandas as pd
time = pd.read_csv('datasets_51748_829397_POP.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'datasets_51748_829397_POP.csv'

In [230]:
time.head()

  realtime_start     value        date realtime_end
0     2019-12-06 156309.00  1952-01-01   2019-12-06
1     2019-12-06 156527.00  1952-02-01   2019-12-06
2     2019-12-06 156731.00  1952-03-01   2019-12-06
3     2019-12-06 156943.00  1952-04-01   2019-12-06
4     2019-12-06 157140.00  1952-05-01   2019-12-06

In [238]:
time['date'] = pd.to_datetime(time['date'])

In [243]:
#time.drop(columns = ['realtime_start' , 'realtime_end'] , inplace = True)

In [2]:
import ipywidgets as widgets
layout = widgets.Layout(width='auto', height='40px')
start_dater = widgets.DatePicker(description='Pick a Start Date',disabled=False )
end_dater = widgets.DatePicker(description='Pick an End Date',disabled=False )
display(start_dater)
display(end_dater)

DatePicker(value=None, description='Pick a Start Date')

DatePicker(value=None, description='Pick an End Date')

In [246]:
time[(time['date']>pd.to_datetime(start_dater.value))&(time['date']<pd.to_datetime(end_dater.value))]

        value       date
794 326736.69 2018-03-01
795 326887.87 2018-04-01
796 327048.70 2018-05-01
797 327219.14 2018-06-01
798 327403.91 2018-07-01
799 327600.25 2018-08-01
800 327794.79 2018-09-01
801 327990.95 2018-10-01

In [247]:
import matplotlib.pyplot as plt
def plotter():
    temp = time[(time['date']>pd.to_datetime(start_dater.value))&(time['date']<pd.to_datetime(end_dater.value))]
    plt.figure(dpi = 100 , figsize  = (10,6))
    plt.plot(temp['date'] , temp['value'])
    plt.show()

display(start_dater)
display(end_dater)    
interact_manual(plotter)

DatePicker(value=datetime.date(2018, 2, 2), description='Pick a Start Date')

DatePicker(value=datetime.date(2018, 10, 14), description='Pick an End Date')

interactive(children=(Button(description='Run Interact', style=ButtonStyle()), Output()), _dom_classes=('widge‚Ä¶

In [248]:
df = pd.read_csv('netflix_titles.csv')

In [249]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [63]:
df.sort_values(by = 'release_year' , inplace = True)

In [64]:
%%javascript
    IPython.OutputArea.auto_scroll_threshold = 9999

In [65]:
def filter_data(TYPE = 'All',COUNTRY ='United States' , RELEASE = 2019):
    
    if TYPE=='All':
        t_df = df[(df['country']==COUNTRY)&(df['release_year']==RELEASE)]
        display(t_df)
        #
        if len(t_df)>1:
            plt.figure(figsize = (5,5) , dpi = 80)
            plt.pie(t_df['type'].value_counts().values , labels = t_df['type'].value_counts().index , explode= (0,0.2) , shadow = True , autopct='%1.1f%%')
            plt.show()
        else:
            pass
    
    else:
        display(df[(df['type']==TYPE)&(df['country']==COUNTRY)&(df['release_year']==RELEASE)])


type_selector =  widgets.Dropdown(
    options=list(df['type'].unique())+['All'],
    value='All',
    description='TYPE')

country_selector =  widgets.Dropdown(
    options= df['country'].unique(),
    value='United States',
    description='COUNTRY')

release_selector =  widgets.Dropdown(
    options= df['release_year'].unique(),
    value=2019,
    description='RELEASE YEAR')

interact(filter_data,TYPE = type_selector , COUNTRY = country_selector , RELEASE = release_selector)

interactive(children=(Dropdown(description='TYPE', index=2, options=('TV Show', 'Movie', 'All'), value='All'),‚Ä¶

In [74]:
df1 = pd.read_csv('CAvideos.csv')

In [75]:
df1 = df1[df1['channel_title'].isin(df1['channel_title'].value_counts().head(10).index)]

In [76]:
df1.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
14,LUzsOyWp9lw,17.14.11,YOUTUBERS REACT TO TOP 10 TWITTER ACCOUNTS OF ...,FBE,24,2017-11-12T22:00:01.000Z,"twitter|""top 10""|""Taylor Swift""|""YOUTUBERS REA...",960747,31810,668,5335,https://i.ytimg.com/vi/LUzsOyWp9lw/default.jpg,False,False,False,CLICK TO SUBSCRIBE TO THE YOUTUBERS IN THIS EP...
24,ZhhXLMbZ1rQ,17.14.11,DO COLLEGE KIDS KNOW 80s MUSIC? #8 (REACT: Do ...,REACT,24,2017-11-12T20:00:01.000Z,"80s music|""80s songs""|""madonna""|""DO COLLEGE KI...",549374,16832,248,3579,https://i.ytimg.com/vi/ZhhXLMbZ1rQ/default.jpg,False,False,False,SUBSCRIBE THEN HIT THE üîî! New Videos 12pm PT o...
35,wczm1faUZ1Q,17.14.11,Barnicle: World Leaders Are Laughing At The US...,MSNBC,25,2017-11-13T14:53:22.000Z,"Morning Joe|""Joe Scarborough""|""Mika Brzezinski...",200264,2947,317,2321,https://i.ytimg.com/vi/wczm1faUZ1Q/default.jpg,False,False,False,"Over the weekend, President Trump raised eyebr..."
43,0gLWN3uq74o,17.14.11,Ex-intelligence chiefs fire back at Trump crit...,CNN,29,2017-11-12T15:36:51.000Z,"James Clapper|""John Brennan""|""President Trump""...",286231,2530,1127,3239,https://i.ytimg.com/vi/0gLWN3uq74o/default.jpg,False,False,False,Former Director of National Intelligence James...
75,pXEGYQ3DNug,17.14.11,Crime Patrol Dial 100 - ‡§ï‡•ç‡§∞‡§æ‡§á‡§Æ ‡§™‡•á‡§ü‡•ç‡§∞‡•ã‡§≤ - Ep 65...,SET India,24,2017-11-12T15:34:31.000Z,"true events|""sony entertainment channel""|""cons...",210478,905,176,85,https://i.ytimg.com/vi/pXEGYQ3DNug/default.jpg,False,False,False,Click here to subscribe to SonyLIV : http://w...

In [77]:
def group_dist_plotter(col = 'channel_title', agg = 'views' ,agg_func = 'sum'):
    temp = df1.groupby(col).agg({agg:agg_func})
    fig,axs = plt.subplots(1,2,figsize = (20,10) , dpi = 80)
    
    axs[0].pie(temp.values , labels = temp.index , shadow = True , autopct='%1.1f%%')
    #axs[1].bar(x = range(len(temp.values)),height = temp.values)
    temp.plot(ax=axs[1], kind='bar')
    plt.show()
    
    return temp



col_selector =  widgets.Dropdown(
    options=['channel_title','category_id'],
    value='channel_title',
    description='COLUMN')

agg_selector =  widgets.Dropdown(
    options= ['views','likes','dislikes'],
    value='views',
    description='AGGREGATE COLUMN')

agg_func_selector =  widgets.Dropdown(
    options= ['sum','mean','median'],
    value='sum',
    description='AGGREGATION')

interact(group_dist_plotter,col = col_selector , agg = agg_selector , agg_func = agg_func_selector)

interactive(children=(Dropdown(description='COLUMN', options=('channel_title', 'category_id'), value='channel_‚Ä¶

In [78]:
from IPython.display import YouTubeVideo

In [79]:
out = widgets.Output(layout={'border': '2px solid black'})
out.append_stdout('Watch the Video Here')
out.append_display_data(YouTubeVideo('DifMYH3iuFw'))
out

Output(layout=Layout(border='2px solid black'), outputs=({'output_type': 'stream', 'name': 'stdout', 'text': '‚Ä¶

In [ ]:
# Covid 19 Data Source : ['Data](https://ourworldindata.org/coronavirus-source-data)

In [97]:
covid = pd.read_csv('owid-covid-data.csv')

In [98]:
covid.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,nan,nan,nan,nan,nan,NaN,nan,38928341.00,54.42,18.60,2.58,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,nan,nan,nan,nan,nan,NaN,0.00,38928341.00,54.42,18.60,2.58,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,nan,nan,nan,nan,nan,NaN,0.00,38928341.00,54.42,18.60,2.58,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,nan,nan,nan,nan,nan,NaN,0.00,38928341.00,54.42,18.60,2.58,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan,nan,nan,nan,nan,nan,NaN,0.00,38928341.00,54.42,18.60,2.58,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83

In [173]:
covid['date'] = pd.to_datetime(covid['date'])

In [174]:
covid = covid[covid['location'].isin(covid['location'].value_counts().index[:50])]

In [190]:
def analysis(column_ = 'continent' , values_ = 'total_cases',aggfunc_ = 'sum',view = 'Time Series'):
    if view == 'Time Series':
        import matplotlib.ticker as mticker

        
        t1 = covid.pivot_table(index = 'date' , columns = column_ , values = values_ , aggfunc = aggfunc_)
        plt.figure(figsize = (20,10) , dpi = 100)
        plt.plot(t1)
        plt.legend(labels = t1.columns)
        plt.gcf().autofmt_xdate()
        
    elif view == 'Bar Plot':
        t2 = covid.groupby(column_).agg({values_:aggfunc_})
        plt.figure(figsize = (20,10) , dpi = 100)
        plt.bar(t2.index,list(t2[values_].values))
        plt.show()
        
    elif view=='PIE':
        t3 = covid.groupby(column_).agg({values_:aggfunc_})
        plt.figure(figsize = (20,10) , dpi = 100)
        plt.pie(t3.values , labels = t3.index , shadow = True , autopct='%1.1f%%')

In [191]:
display(HTML('''<style>
    .widget-label { min-width: 20ex !important; }
</style>'''))

In [192]:
col_selector =  widgets.Dropdown(
    options=['continent','location'],
    value='continent',
    description='COLUMN')

val_selector =  widgets.Dropdown(
    options= ['total_cases','new_cases','total_deaths','new_deaths'],
    value='total_cases',
    description='AGGREGATE COL')

agg_func_selector =  widgets.Dropdown(
    options= ['sum','mean','median'],
    value='sum',
    description='AGGREGATION')

view_selector =  widgets.Dropdown(
    options= ['Time Series','Bar Plot','PIE'],
    value='Time Series',
    description='VIEW')


interact(analysis,column_ = col_selector , values_ = val_selector , aggfunc_ = agg_func_selector , view = view_selector)

interactive(children=(Dropdown(description='COLUMN', options=('continent', 'location'), value='continent'), Dr‚Ä¶

In [169]:
# .style.format({"BasePay": "${:20,.0f}", 
#                           "OtherPay": "${:20,.0f}", 
#                           "TotalPay": "${:20,.0f}",
#                           "TotalPayBenefits":"${:20,.0f}"})

In [ ]:
# .hide_index()

In [ ]:
# .highlight_max(color='lightgreen')\                            
#                 .highlight_min(color='#cd4f39')

In [ ]:
# .background_gradient(cmap='Blues')

In [ ]:
# .style.set_properties(**{'background-color': 'black',                                                   
#                                     'color': 'lawngreen',                       
#                                     'border-color': 'white'})

In [195]:
# .hide_index()\
#                  .bar(subset=["OtherPay",], color='lightgreen')\
#                  .bar(subset=["BasePay"], color='#ee1f5f')\
#                  .bar(subset=["TotalPay"], color='#FFA07A')

In [196]:
# covid.style.format({"total_cases": "{:20,.0f}", 
#                           "new_cases": "{:.0f}"}).head