In [2]:
import pandas as pd
import numpy as np
import ipywidgets as wg
from IPython.display import display

url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"

df_london = pd.read_csv(url, encoding='unicode_escape')
df_london

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (£m),Nights (000s),sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
1,2002,January-March,Belgium,1-3 nights,Air,Business,LONDON,9.284226,2.399577,12.604959,19
2,2002,January-March,Belgium,1-3 nights,Air,VFR,LONDON,0.877182,0.089833,2.153128,3
3,2002,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.163874,0.010160,0.163874,1
4,2002,January-March,Belgium,1-3 nights,Sea,Business,LONDON,1.648670,0.016789,1.650300,1
...,...,...,...,...,...,...,...,...,...,...,...
61457,2020P,January-March,Other Africa,4-7 nights,Air,Miscellaneous,LONDON,1.695331,1.103167,8.831038,2
61458,2020P,January-March,Other Africa,8-14 nights,Air,Holiday,LONDON,1.486972,2.022254,7.836555,1
61459,2020P,January-March,Other Africa,8-14 nights,Air,VFR,LONDON,2.416554,1.847152,63.894432,2
61460,2020P,January-March,Other Africa,15+ nights,Air,Holiday,LONDON,2.472653,1.006109,35.080377,2
61461,2020P,January-March,Other Africa,15+ nights,Air,VFR,LONDON,4.124325,3.960705,134.909755,4

In [3]:
ALL = 'ALLE'

def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0,ALL)
    return unique


#Definiere Dropdown widget, um das Jahr auszuwählen
auswahl_jahr = wg.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))


#Definiere Dropdown widget, um den Zweck auszuwählen
auswahl_zweck = wg.Dropdown(options = unique_sorted_values_plus_ALL(df_london.purpose))

#Definiere Dropdown widget, um DF zu färben!
auswahl_zahl = wg.BoundedFloatText(min = 0, max = 1000, value = 5, step = 1, description = 'Nummer')

output = wg.Output()


# def auswahl_jahr_eventhandler(change):
#     output_jahr.clear_output()
#     with output_jahr:
#             if (change.new == ALL):
#                 display(df_london)
#             else:
#                 display(df_london[df_london.year == change.new])
                
                
def common_filtering(year, purpose, nummer):
    output.clear_output()
    
    if (year == ALL) & (purpose == ALL):
        common_filter = df_london
    elif (year == ALL):
        common_filter = df_london[df_london.purpose == purpose]
    elif (purpose == ALL):
        common_filter = df_london[df_london.year == year]
    else:
        common_filter = df_london[(df_london.year == year) & (df_london.purpose == purpose)]
    
    with output:
        display(common_filter.style.applymap(lambda x: faerbe_df(x, nummer),
                    subset=['visits']))
        
def faerbe_df(value, comparison):
    if value >= comparison:
        return 'color: red'
    else:
        return 'color: black'
        
def auswahl_jahr_eventhandler(change):
    common_filtering(change.new, auswahl_zweck.value, auswahl_zahl.value)

def auswahl_zweck_eventhandler(change):
    common_filtering(auswahl_jahr.value, change.new, auswahl_zahl.value)
    
def auswahl_zahl_eventhandler(change):
    common_filtering(auswahl_jahr.value, auswahl_zweck.value, change.new)
    
                


auswahl_jahr.observe(auswahl_jahr_eventhandler, names = 'value')
auswahl_zweck.observe(auswahl_zweck_eventhandler, names = 'value')
auswahl_zahl.observe(auswahl_zahl_eventhandler, names = 'value')


display(auswahl_jahr)
display(auswahl_zweck)
display(auswahl_zahl)
display(output)

Dropdown(options=('ALLE', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '201…

Dropdown(options=('ALLE', 'Business', 'Holiday', 'Miscellaneous', 'Study', 'VFR'), value='ALLE')

BoundedFloatText(value=5.0, description='Nummer', max=1000.0, step=1.0)

Output()

In [ ]:
# output_jahr = wg.Output()
# output_jahr.clear_output()
# #display(output_jahr)

In [ ]:

!pwd