In [1]:
import mitosheet

In [2]:
mitosheet.sheet()

MitoWidget(analysis_data_json='{"analysisName": "UUID-b96c7d7f-c295-4f49-a176-8a9046cac85e", "code": {"imports…

In [5]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-3dc0cd7d-293a-47f4-bbb2-e8a228678c94') # Let Mito know which analysis is being run

# Imported /Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Airport-Pets.csv
import pandas as pd
Airport_Pets_csv = pd.read_csv(r'/Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Airport-Pets.csv')

# Imported /Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/netflix_titles.csv
import pandas as pd
netflix_titles_csv = pd.read_csv(r'/Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/netflix_titles.csv')

# Pivoted netflix_titles_csv into df3
unused_columns = netflix_titles_csv.columns.difference(set(['rating']).union(set(['type'])).union(set({'rating'})))
tmp_df = netflix_titles_csv.drop(unused_columns, axis=1)
pivot_table = tmp_df.pivot_table(
    index=['rating'],
    columns=['type'],
    values=['rating'],
    aggfunc={'rating': ['count']}
)

# Flatten the column headers
pivot_table.columns = [flatten_column_header(col) for col in pivot_table.columns.values]

# Reset the column name and the indexes
df3 = pivot_table.reset_index()

# Filtered country in netflix_titles_csv
netflix_titles_csv = netflix_titles_csv[netflix_titles_csv['country'].str.contains('Brazil', na=False)]

# Imported /Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Zipcode-Data.csv
import pandas as pd
Zipcode_Data_csv = pd.read_csv(r'/Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Zipcode-Data.csv')

  
# MITO CODE END (DO NOT EDIT)

In [6]:
df3

      rating  rating count Movie  rating count TV Show
0     66 min                 1.0                   NaN
1     74 min                 1.0                   NaN
2     84 min                 1.0                   NaN
3          G                41.0                   NaN
4      NC-17                 3.0                   NaN
5         NR                75.0                   5.0
6         PG               287.0                   NaN
7      PG-13               490.0                   NaN
8          R               797.0                   2.0
9      TV-14              1427.0                 733.0
10      TV-G               126.0                  94.0
11     TV-MA              2062.0                1145.0
12     TV-PG               540.0                 323.0
13      TV-Y               131.0                 176.0
14     TV-Y7               139.0                 195.0
15  TV-Y7-FV                 5.0                   1.0
16        UR                 3.0                   NaN

In [2]:
mitosheet.sheet()

MitoWidget(analysis_data_json='{"analysisName": "UUID-bec9d723-10ef-45ec-843f-137d68ffd0ec", "code": {"imports…

In [ ]:
# MITO CODE START (DO NOT EDIT)

from mitosheet import * # Import necessary functions from Mito
register_analysis('UUID-bec9d723-10ef-45ec-843f-137d68ffd0ec') # Let Mito know which analysis is being run

# Imported /Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Airport-Pets.csv
import pandas as pd
Airport_Pets_csv = pd.read_csv(r'/Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Airport-Pets.csv')

# Imported /Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Zipcode-Data.csv
import pandas as pd
Zipcode_Data_csv = pd.read_csv(r'/Users/joerg/OneDrive/jupyter_notebooks/mito/Mito Tutorial Data/Zipcode-Data.csv')

# Merged Zipcode_Data_csv and Airport_Pets_csv
temp_df = Airport_Pets_csv.drop_duplicates(subset='Zip') # Remove duplicates so lookup merge only returns first match
df3 = Zipcode_Data_csv.merge(temp_df, left_on=['Zip'], right_on=['Zip'], how='left', suffixes=['_Zipcode_Data_csv', '_Airport_Pets_csv'])

# Merged df3 and Zipcode_Data_csv
temp_df = Zipcode_Data_csv.drop_duplicates(subset='Zip') # Remove duplicates so lookup merge only returns first match
df4 = df3.merge(temp_df, left_on=['Zip'], right_on=['Zip'], how='left', suffixes=['_df3', '_Zipcode_Data_csv'])

# Deleted dataframe df4
del df4

# Deleted dataframe df3
del df3

# Merged Zipcode_Data_csv and Airport_Pets_csv
temp_df = Airport_Pets_csv.drop_duplicates(subset='Zip') # Remove duplicates so lookup merge only returns first match
Zipcode_Data_csv_tmp = Zipcode_Data_csv.drop(['Mean_Income', 'Pop', 'Median_Income'], axis=1)
df3 = Zipcode_Data_csv_tmp.merge(temp_df, left_on=['Zip'], right_on=['Zip'], how='left', suffixes=['_Zipcode_Data_csv', '_Airport_Pets_csv'])

# Renamed df3 to merge
merge = df3

# Pivoted merge into df4
unused_columns = merge.columns.difference(set(['State']).union(set([])).union(set({'Zip'})))
tmp_df = merge.drop(unused_columns, axis=1)
pivot_table = tmp_df.pivot_table(
    index=['State'],
    values=['Zip'],
    aggfunc={'Zip': ['count']}
)

# Flatten the column headers
pivot_table.columns = [flatten_column_header(col) for col in pivot_table.columns.values]

# Reset the column name and the indexes
df4 = pivot_table.reset_index()

  
# MITO CODE END (DO NOT EDIT)