In [ ]:
import pandas as pd
import numpy as np
from analysis_tools.tools import show_values_on_bars
from analysis_tools.tools import update_barplot_figure
import os
# 

input_path = r'c:\\Repos\Sandbox\jwingbermuehle\DATEN_POOL'
input_csv = os.path.join(input_path,'dbf_important_features.csv')

df = pd.read_csv(input_csv, index_col = 0)

df.index.name = 'Features'

In [ ]:
df=df.fillna(0)
x_value = df['18FERKEG']
y_value = df.index

#update_barplot_figure

In [ ]:
update_barplot_figure(x_value,y_value,df,'18FERKEG')

In [ ]:
df=df.fillna(0)
x_value = df.columns
y_value = df.index

In [ ]:
x_value[1]

In [ ]:
update_barplot_figure(x_value[1],y_value,df,x_value[1])

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
colors = sns.color_palette('colorblind')
a = [1,6,3,1,0]
b = [0,4,3,5,0]
   
    
plt.yticks( range(5), ['Very Disatisfied', 'Dissatisfied', 'Neutral', 'Satisfied', 'Very satisfied'])
 
plt.xlabel('Number of users')
plt.xlim([min(a), max(a)+10])
p1 = plt.barh(np.arange(5)-0.15 , a, 0.30, color = colors[0],hatch = 'x')
p2 = plt.barh(np.arange(5)+0.15 , b, 0.30, color = colors[1])    
  
plt.legend((p1[0], p2[0]), ('Group 1: Only prediction', 'Group 2: With explanation'))

In [ ]:
max(a)

In [ ]:
def plot_bar_chart(data):
        x = []
        y = []
        for item in data:
            y.append(item['count'])
            x.append(item['Implemented_by_partial_function'])
        plt.barh(x, y)
        plt.title("Top apis", fontsize=10)
        plt.xlabel("Number of API Calls", fontsize=8)
        plt.xticks([])
        plt.ylabel("Partial function", fontsize=8)
        plt.tick_params(axis='y', labelsize=8)
        for i, j in zip(y, x):
            plt.text(i, j, str(i), clip_on=True, ha='center',va='center', fontsize=8)
        plt.tight_layout()
        buf = BytesIO()
        plt.savefig(buf, format='png')
        image_base64 = base64.b64encode(buf.getvalue()).decode('utf-8').replace('\n', '')
        buf.close()
        # Clear the previous plot.
        plt.gcf().clear()
        return image_base64

In [ ]:
plot_bar_chart(df)

In [ ]:
def plot_preds(image, preds):
    """Displays image and the top-n predicted probabilities in a bar graph
    Args:
        image: PIL image
        preds: list of predicted labels and their probabilities
    """
    
    """# For Spyder
    plt.imshow(image)
    plt.axis('off')"""

    plt.figure()
    labels = ("cat", "dog")
    plt.barh([0, 1], preds, alpha=0.5)
    plt.yticks([0, 1], labels)
    plt.xlabel('Probability')
    plt.xlim(0,1.01)
    plt.tight_layout()
    plt.savefig('out.png')

In [ ]:
def read_my_dbf(dbf_file):
    import dbfread
    class MyFieldParser(dbfread.FieldParser):
        def parse(self, field, data):
            try:
                return dbfread.FieldParser.parse(self, field, data)
            except ValueError:
#            return dbfread.InvalidValue(data)
                return None

    my_anomalies = dbfread.DBF(dbf_file, ignore_missing_memofile=True, parserclass=MyFieldParser)
    anomalies_df_with_nullflags = pd.DataFrame(iter(my_anomalies))
    my_anomalies_df = anomalies_df_with_nullflags.drop(columns=['_NullFlags'])
    return my_anomalies_df

In [ ]:

import os
from analysis_tools.tools import read_my_dbf
my_input_dir = r"\\linfile1\groups\EMAT_evaluation_data\CombEvalDataWarehouse\proj0"
my_folder_list = [
    r'14467\18FERKEG\CE\Feature',
    r'14467\18MA9MA7\CE\Feature',
    r'12542\24110VOL\CE\Feature',
#     r'14369\2411D91S\CE\Feature',
]

In [ ]:
dbf_file_name = r'cleaned_up_exchange_rodat37.dbf'
for i, dbf_file in zip(range(len(my_folder_list)), my_folder_list):
    dbf_file = os.path.join(my_input_dir,dbf_file,dbf_file_name)
    my_anomalies_df = read_my_dbf(dbf_file)

In [ ]:
range(len(my_folder_list))

In [ ]:
my_anomalies_df

In [5]:
import os
import glob
import pandas as pd

root_folder = r'\\linfile1\Groups\EMAT_evaluation_data\CombEvalDataWarehouse\proj0'
lineshort_folder = glob.glob(r'{}\*\[0-9][0-9]??????\ECD\R[0-9]aa'.format(root_folder))
import json
rodat_info = []
df_tmp = {}
df_final = []
for lf in lineshort_folder[:2]:
    line_name = lf.split('\\')[8]
    tmp = line_name + '_Rodat_info.txt'
    file_name = os.path.join(lf,tmp)
    with open(file_name) as fn:
        temp = json.load(fn)
#         print(line_name)
#         print(temp)
#         print('---')

In [8]:
df_final

[                           RODAT_Status
 36MICMOR  Hooked in Database of RODAT37,
                            RODAT_Status Remarks
 36MICMOR  Hooked in Database of RODAT37    None,
                                RODAT_Status Remarks
 22SANWOO  NOT Hooked in Database of RODAT37     NaN
 36MICMOR                                NaN    None,
                                RODAT_Status          Remarks
 22SANWOO  NOT Hooked in Database of RODAT37  Additional file]

In [ ]:
type

In [ ]:
type(temp3),
temp3 = list(['RODAT_Status', 'Hooked in Database of RODAT37'])
temp3

In [ ]:
ddf2 = pd.DataFrame(temp3)
ddf2

In [ ]:
ddf

In [ ]:
ddf3 = pd.concat([ddf3, ddf2], axis = 1)
ddf3

In [ ]:
#Open the file back and read the contents
     #f=open("guru99.txt", "r")
     #   if f.mode == 'r': 
     #     contents =f.read()
     #     print contents
     #or, readlines reads the individual line into a list
     #fl =f.readlines()
     #for x in fl:
     #print x

In [ ]:
import pandas as pd
c1=["q","q","q","qaa","q","q"]
c2=["x","x","x","x","x","x"]
df1=pd.DataFrame(c1)
df2=pd.DataFrame(c2)
df3 = pd.concat([df1, df2], axis = 1)

In [ ]:
print(c1)

In [ ]:
df3

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame({'X': [None, 0], 'Y': [None, 5]})
df2 = pd.DataFrame({'X': [3, 3], 'Y': [4, 4]})
df1.combine_first(df2)

     X    Y
0  3.0  4.0
1  0.0  5.0

In [8]:
df = pd.DataFrame({'Courses':["Spark","PySpark","Python","pandas"],
                      'Fee' :[20000,25000,22000,24000]})
  
df1 = pd.DataFrame({'Duration':['30day','40days','35days','60days'],
                      'Discount':[1000,2300,2500,2000,]})

In [11]:
df

   Courses    Fee
0    Spark  20000
1  PySpark  25000
2   Python  22000
3   pandas  24000

In [12]:
df1

  Duration  Discount
0    30day      1000
1   40days      2300
2   35days      2500
3   60days      2000

In [6]:
import pandas as pd
df1 = pd.DataFrame({'A': [None, 0], 'B': [4, None]})
df2 = pd.DataFrame({'B': [3, 3], 'C': [1, 1]})

In [7]:
df1

     A    B
0  NaN  4.0
1  0.0  NaN

In [8]:
df2

   B  C
0  3  1
1  3  1

In [9]:
df1.combine_first(df2)

     A    B  C
0  NaN  4.0  1
1  0.0  3.0  1

In [10]:
15806-12051

3755