Überlegungen und Aufzeichnugen für die Anschaffung einer Photovoltaik-Anlage

Stromtracking zur Verbrauchs- und Kostenberechnung

In [1]:
# Zählerstand des Stromzählers
import pandas as pd

df_tmp = {'01.01.2021': 61464, 
            '05.02.2021': 62167}

In [2]:
df_strom = pd.DataFrame(df_tmp.items(), columns=['Datum', 'Zählerstand'])

In [3]:
df_strom

        Datum  Zählerstand
0  01.01.2021        61464
1  05.02.2021        62167

In [12]:
df_strom.loc[0] = ['01.01.2021', 61464]
df_strom.loc[1] = ['05.02.2021', 62167]
df_strom.loc[2] = ['27.12.2021', 67526]
df_strom.loc[3] = ['28.02.2022', 68701]
df_strom.loc[4] = ['30.06.2022', 70561]
df_strom.loc[5] = ['01.09.2022', 71429]

In [13]:
df_strom

        Datum  Zählerstand
0  01.01.2021        61464
1  05.02.2021        62167
2  27.12.2021        67526
3  28.02.2022        68701
4  30.06.2022        70561
5  01.09.2022        71429

In [14]:
df_strom.set_index('Datum').diff()

            Zählerstand
Datum
01.01.2021          NaN
05.02.2021        703.0
27.12.2021       5359.0
28.02.2022       1175.0
30.06.2022       1860.0
01.09.2022        868.0