In [1]:
import json

In [2]:
with open('test_buchungen.json') as json_file:
    data = json.load(json_file)
    
    print("Data: ", data[0])

Data:  {'Id': '706185894', 'AcctId': '548249525', 'OwnrAcctCcy': 'EUR', 'OwnrAcctIBAN': 'DE19266500011180147058', 'OwnrAcctNo': '1180147058', 'OwnrAcctBIC': 'NOLADE21EMS', 'OwnrAcctBankCode': '26650001', 'BookgDt': '2022-05-02', 'ValDt': '2022-04-30', 'Amt': '3.95', 'AmtCcy': 'EUR', 'CdtDbtInd': 'DBIT', 'RmtInf': 'Entgeltabrechnung          siehe Anlage', 'BookgTxt': 'ENTGELTABSCHLUSS', 'PrimaNotaNo': '6666', 'BkTxCd': 'NCHG', 'RmtdAcctCtry': 'DE', 'RmtdAcctNo': '0000000000', 'RmtdAcctBankCode': '26650001', 'BookgSts': 'BOOK', 'GVC': '809', 'Category': 'Konsumkosten:Kontoführung', 'ReadStatus': False, 'Flag': 'OK'}

In [3]:
print("Data: ", data[1])

Data:  {'Id': '706185895', 'AcctId': '548249525', 'OwnrAcctCcy': 'EUR', 'OwnrAcctIBAN': 'DE19266500011180147058', 'OwnrAcctNo': '1180147058', 'OwnrAcctBIC': 'NOLADE21EMS', 'OwnrAcctBankCode': '26650001', 'BookgDt': '2022-05-02', 'ValDt': '2022-05-01', 'Amt': '100.00', 'AmtCcy': 'EUR', 'CdtDbtInd': 'DBIT', 'RmtInf': 'Sparrate 4585261755', 'BookgTxt': 'SONSTIGE BELASTUNGSBUCHUNG', 'PrimaNotaNo': '7035', 'BkTxCd': 'NMSC', 'RmtdNm': 'Jörg Wilhelm Wingbermühle Karin    Maria Wingbermühle', 'RmtdAcctCtry': 'DE', 'RmtdAcctIBAN': 'DE07266500014585261755', 'RmtdAcctBIC': 'NOLADE21EMS', 'BookgSts': 'BOOK', 'GVC': '835', 'Category': 'Sparrate:Prämiensparen Jörg+Karin', 'ReadStatus': False, 'Flag': 'OK'}

In [11]:
betrag = []
kategorie = []
abbucher = []
datum = []
for lf in range(len(data)):
    try:  
        betrag_tmp = data[lf]['Amt']
    except:  
        print("key error: Amt does not contain in dictionary value!") 
        data[lf]['Amt'] = 'No value'
    
    try:  
        kategorie_tmp = data[lf]['Category']
    except:  
        print("key error: Category does not contain in dictionary value!") 
        data[lf]['Category'] = 'No value'
    
    try:  
        abbucher_tmp = data[lf]['RmtdNm']
    except:  
        print("key error: RmtdNm does not contain in dictionary value!") 
        data[lf]['RmtdNm'] = 'No value'
    
    try:  
        datum_tmp = data[lf]['ValDt']
    except:  
        print("key error: ValDt does not contain in dictionary value!") 
        data[lf]['ValDt'] = 'No value'
    
    
    
#     kategorie_tmp = data[lf]['Category']
#         kategorie.append(kategorie_tmp)
#         abbucher_tmp = data[lf]['RmtdNm']
#         abbucher.append(abbucher_tmp)
#         datum_tmp = data[lf]['ValDt']
#         datum.append(datum_tmp)
        
#         #print(data[lf]['Category'])  
  
    betrag_tmp = data[lf]['Amt']
    betrag.append(betrag_tmp)
    kategorie_tmp = data[lf]['Category']
    kategorie.append(kategorie_tmp)
    abbucher_tmp = data[lf]['RmtdNm']
    abbucher.append(abbucher_tmp)
    datum_tmp = data[lf]['ValDt']
    datum.append(datum_tmp)
    #print(data[lf])
    #print(datum_tmp)

In [12]:
len(betrag)

106

In [13]:
uebersicht_tmp = {'Datum': list(datum), 'Abbucher': list(abbucher), 'Kategorie': list(kategorie), 'Betrag': list(betrag),}

In [14]:
len(list(betrag))

106

In [15]:
import pandas as pd
uebersicht = pd.DataFrame(uebersicht_tmp)

In [16]:
uebersicht

,Datum,Abbucher,Kategorie,Betrag
0,2022-04-30,No value,Konsumkosten:Kontoführung,3.95
1,2022-05-01,Jörg Wilhelm Wingbermühle Karin Maria Wingb...,Sparrate:Prämiensparen Jörg+Karin,100.00
2,2022-05-02,Entis Lebensversicherung AG ...,No value,237.05
3,2022-05-02,DSL Bank Ndl DB AG ...,No value,913.88
4,2022-05-02,PB Lebensversicherung AG ...,Altersvorsorge:Postbank Jörg,111.56
...,...,...,...,...
101,2022-06-01,Bonprix,No value,24.94
102,2022-06-02,"AMAZON EU S.A R.L., NIEDERLASSUNG DEUTSCHLAND",Laufende Kosten:Haushalt (Kleinanschaffungen),425.98
103,2022-06-03,Neue Osnabruecker Zeitung ...,Konsumkosten:Ems-Zeitung,39.90
104,2022-06-03,Ludgerusschule Rhede,Einnahmen:Kindergeld Till,24.00
105,2022-06-03,Dr. Jörg Wilhelm Wingbermühle Karin Maria Wing...,Umbuchung,1500.00